<div class="row">
  <!-- order-card start -->
  @for (card of cards; track card) {
    <div class="col-md-6 col-xl-2">
      <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
        <h6 class="text-white">{{ card.title }}</h6>
        <h2 class="text-end text-white">
          <i class="feather {{ card.icon }} float-start"></i>
          <span>{{ card.number }}</span>
        </h2>
        <p class="m-b-0">
          {{ card.text }}
          <span class="float-end">{{ card.no }}</span>
        </p>
      </app-card>
    </div>
  }
  <!-- order-card end -->

  <div class="col-md-12">
    <app-card cardTitle="Total Tickets Par Type" [options]="false">
      <apx-chart
        [dataLabels]="bar2CAC.dataLabels!"
        [chart]="bar2CAC.chart!"
        [plotOptions]="bar2CAC.plotOptions!"
        [responsive]="bar2CAC.responsive!"
        [colors]="bar2CAC.colors!"
        [series]="bar2CAC.series!"
        [legend]="bar2CAC.legend!"
        [xaxis]="bar2CAC.xaxis!"
        [fill]="bar2CAC.fill!"
      ></apx-chart>
    </app-card>
  </div>
<div class="col-md-6">
    <app-card cardTitle="Total Tickets Par Shop" [options]="false">
      <apx-chart
        [dataLabels]="bar2CACOfMarket.dataLabels!"
        [chart]="bar2CACOfMarket.chart!"
        [plotOptions]="bar2CACOfMarket.plotOptions!"
        [responsive]="bar2CACOfMarket.responsive!"
        [colors]="bar2CACOfMarket.colors!"
        [series]="bar2CACOfMarket.series!"
        [legend]="bar2CACOfMarket.legend!"
        [xaxis]="bar2CACOfMarket.xaxis!"
        [fill]="bar2CACOfMarket.fill!"
      ></apx-chart>
    </app-card>
  </div>
</div>
